@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

h1 {
    font-size: 5vh;
    font-weight: bold;
}

h2 {
    font-size: 2vh;
}


#main {
    border: 0.1vw solid white;
    width: 90vw;
    height: 70vh;
    display: flex;
    gap: 0.1vw;
    background-image: url("img/pano.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#score {
    width: 30vw;
    height: 100%;
    text-align: center;
}

#score>h2 {
    font-size: 3vh;
}

#game {
    width: 40vw;
    height: 100%;
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.jet {
    width: 7vw;
    height: 6vw;
    background-image: url("img/airplane.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#raketa {
    width: 1vw;
    height: 5vw;
    position: absolute;
    transition: top 0.01s linear, left 0.01s linear;
    bottom: 3.3vh;
    background-image: url("img/missile.png");
    background-size: contain;   
    background-position: center;
    background-repeat: no-repeat;
}

#slider {
    position: absolute;
    bottom: 0.4vh;
    transition: left 0.03s ease;
    width: 10vw;
    height: 1vw;
    background-color: green;
    border: 0.5vh solid black;
    border-radius: 5vh
}

#igor {
    width: 30vw;
    height: 100%;
    background-image: url("img/govori-igor.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

button {
    padding: 1.5vh 4vw;
    border-radius: 3vh;
    background-color: #383838;
    border: 0.3vh solid rgb(42, 42, 42);
}

button:hover {
    opacity: 75%;
    transition: 0.3s;
}

.io {
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    button {
        padding: 1.5vh 10vw;
    }

    #score {
        display: none;
    }

    #game {
        width: 90vw;
        align-items: center;
    }

    .jet {
        width: 16vw;
        height: 15vw;
    }

    #raketa {
        height: 6vh;
        width: 1vh;
    }

    #slider{
        width: 15vw;
        height: 2vw;
    }

    #igor {
        display: none;
    }
}